body {
  margin: 0;
}

div.chart {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

div.widthForIE{
  width: 100%;
}

div.header {
  margin: 0 auto;
  text-align: center;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
}

div.header.h0 {
  padding-top: 200px;
}

div.paths, div.stars {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;  
}

h1 {
  color: lightGrey;
  font-family: 'Indie Flower', cursive;
}

h1 span {
  opacity: 0;
  white-space:pre;
}

h1 span.rotate {
  display: inline-block; 
}

.color-0 { color: rgb(255, 0, 171); }
.color-1 { color: rgb(0, 168, 255); }
.color-2 { color: rgb(171, 0, 255); }
.color-3 { color: rgb(255, 171, 0); }
.color-4 { color: rgb(168, 255, 0); }