body {
  margin: 0;
}

div.chart {
  position: relative;
}

div.header, div.stars {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;  
}

path {
  fill: none;
}

textPath {
  opacity: 0;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}

text.no-effect {
  fill: lightgrey;
}

text.effect {
  fill: url(#grad1);
}